body {
   background-color: #111D4A;
}

#container{
  background-color: lightgray;
  display: flex;
  border: 1px white;
  padding:10px;
  height: 20em;
  width: 20%;

}

#tiles{
  background-color: white;
  border: 2px solid black;
  height: 15em;
  width: 10%;
}